<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashFood - Gestion restaurants</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <!-- Gestion des restaurants -->
    <!-- Validation, modification, suppression des restaurants -->

    <script src="/js/main.js"></script>
    <script src="/js/admin-restaurants.js"></script>
</body>
</html>
